.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(197, 181, 181, 0.5); /* Màu nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.fileTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

    th,
    td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    .actionButton {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 5px;
        }
    }
}

.closeButton {
    background-color: #bb9fa2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.closeButton:hover {
    background-color: #dfacb1;
}
.uploading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đảm bảo hiển thị trên popup */
}

.spinner {
    font-size: 1.5rem;
    margin-right: 10px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.actionButtons {
    display: flex;
    justify-content: center; /* Căn giữa các button theo chiều ngang */
    margin-top: 10px;
}

.approveButton {
    background-color: #41c15f; /* Màu xanh */
    color: #fff; /* Màu chữ */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Khoảng cách giữa các button */
}

.rejectButton {
    background-color: #df3b4c; /* Màu đỏ */
    color: #fff; /* Màu chữ */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Khoảng cách giữa các button */
}

.actionButton:hover {
    opacity: 0.9;
    background-color: #c82333; /* Điều chỉnh độ mờ khi hover */
}
.reasonInput {
    margin-top: 10px; /* Khoảng cách từ reason input đến action buttons */
    label {
        display: block; /* Hiển thị label dưới dạng block */
        margin-bottom: 5px; /* Khoảng cách giữa label và textarea */
    }

    textarea {
        width: 100%; /* Độ rộng 100% */
        padding: 5px; /* Lề bao quanh */
        font-size: 14px; /* Cỡ chữ */
        border: 1px solid #ccc; /* Viền */
        border-radius: 4px; /* Bo góc */
        resize: vertical; /* Cho phép chỉnh sửa chiều cao */
    }
}
