.dashboard {
    width: 20%; /* 1/5 của màn hình */
    padding: 20px;
    background-color: #ffd700; /* Màu vàng */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard h2 {
    margin-bottom: 20px;
    color: #333;
}
